@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/saw3ipn.css");
@import url("https://use.typekit.net/zao2vdq.css");

:root {
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  /* background-image: url("../public/orangeblob.svg");
  background-position: top; */
  background-color: #419EBD;
  color: white;
}